<script lang='ts'>
    // The ordering of these imports is critical to your app working properly
    import '../theme.css';
    // If you have source.organizeImports set to true in VSCode, then it will auto change this ordering
    import '@skeletonlabs/skeleton/styles/skeleton.css';
    // Most of your app wide CSS should be put in this file
    import '../app.postcss';
</script>

<div class="container h-full mx-auto ">
    <slot/>
</div>
