<script lang="ts">
    import {onMount} from "svelte";
    import {goto} from "$app/navigation";

    let companiesPromise = Promise.resolve([]);

    onMount(() => {
        companiesPromise = fetch("/api/catalog/companies").then(r => r.json());
    })

    function startConversation(company) {
        fetch("/api/conversation", {
            method: "POST"
        }).then(r => r.json()).then(r => {
            goto(`/conversation/${r.id}?company=${company}`)
        })
    }
</script>
<div>
    {#await companiesPromise}
        <h4>Loading Companies</h4>
    {:then companies}
        <h2>Select your company</h2>
        <div class="grid grid-cols-2 md:grid-cols-4 gap-x-2 gap-y-5">
            {#each companies as company}
                <div class="p-2 bg-surface-200 rounded-md hover:-m-1 cursor-pointer" on:click={()=>startConversation(company)}>
                    <p>{company}</p>
                </div>
            {/each}
        </div>
    {/await}
</div>