<script lang="ts">
    import type {Message} from "$lib/types";
    import AssistantMessage from "$lib/components/AssistantMessage.svelte";

    const message:Message = {
        role: "assistant",
        content: "Hello, I'm Wilbur. I'm here to help you track your shipments. Please provide me with the criteria you would like to search by, such as the shipment ID, origin, or destination.",
    }

</script>
<div class="w-80 border rounded border-surface-900">
    <AssistantMessage {message}/>
</div>
