<script lang="ts">
    import {writable} from "svelte/store";
    import type {Conversation as ConversationType} from "$lib/types";
    import {onMount} from "svelte";
    import {page} from "$app/stores";
    import Conversation from "$lib/components/Conversation.svelte";

    const conversation = writable<ConversationType>();
    let currentMessage = "";
    let conversationId = "";

    onMount(async () => {
        conversationId = $page.params.id;
        const res = await fetch<ConversationType>(`/api/conversation/${conversationId}`);
        const c: ConversationType = await res.json();
        conversation.set(c);
        if (c.messages[c.messages.length - 1].function_call) {
            await handleFunctionCall(c.messages[c.messages.length - 1]);
        }
        return conversation.subscribe(c => {
            setTimeout(()=>conversationElement.scrollTop = conversationElement.scrollHeight,30);
        });
    })

    function addMessage() {
        conversation.update(c => {
            const messages = [...c.messages, {content: currentMessage, role: "user"}];
            getNextMessage(messages);
            return {...c, messages};
        });
        currentMessage = "";
    }

    async function getNextMessage(messages) {
        const response = await fetch(`/api/conversation/${conversationId}/next`, {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(messages)
        });
        const updatedConversation = await response.json();
        conversation.set(updatedConversation);
        if (updatedConversation.messages[updatedConversation.messages.length - 1].function_call) {
            await handleFunctionCall(updatedConversation.messages[updatedConversation.messages.length - 1]);
        }
    }

    async function handleFunctionCall(message) {
        const name = message.function_call.name;
        if (name === 'search') {
            const args: { type: 'equipment', equipmentId: string } = JSON.parse(message.function_call.arguments);
            const initial = args.equipmentId.substring(0, 4).trim();
            const equipmentNumber = args.equipmentId.substring(4).trim();
            const response = await fetch(`/api/equipment/search/${initial}-${equipmentNumber}`);
            if (response.status === 404)
                return conversation.update(c => {
                    const messages = [...c.messages, {
                        content: JSON.stringify({
                            type: "error",
                            error: "Equipment not found"
                        }), role: "function"
                    }];
                    return {...c, messages};
                });
            else if (response.status > 400)
                return conversation.update(c => {
                    const messages = [...c.messages, {
                        content: JSON.stringify({
                            type: "error",
                            error: "Something went wrong"
                        }), role: "function"
                    }];
                    return {...c, messages};
                });
            else {
                const equipment = await response.json();
                delete equipment.company;
                return conversation.update(c => {
                    const messages = [...c.messages, {
                        content: JSON.stringify({type: "equipment", equipment}),
                        role: "function",
                        name
                    }];
                    getNextMessage(messages);
                    return {...c, messages};
                });
            }
        }
    }

    let conversationElement: HTMLDivElement;
</script>

{#if $conversation}
    <div class="flex flex-col h-full  pt-14 pb-3">
        <div class="bg-surface-200 fixed top-0 w-full py-3 -mx-2 z-10">
           <p class="unstyled text-2xl font-bold mx-3">Conversation with Mr.Ed</p>
        </div>
        <div class="flex-grow flex-shrink flex overflow-y-auto justify-center" bind:this={conversationElement}>
        <Conversation conversation={$conversation}/>
        </div>
        <div class="input-group input-group-divider  grid-cols-[1fr_auto] flex-none my-2 ">
            <input
                    bind:value={currentMessage}
                    class="bg-transparent border-0 ring-0"
                    placeholder="Write a message..."
                    type="text"
                    on:keypress={e=>e.key === "Enter" && addMessage()}
            />
            <button class="variant-filled-primary " on:click={addMessage}>Send</button>
        </div>
    </div>
{/if}