<script lang="ts">

    import DetailCard from "$lib/components/DetailCard.svelte";

    const equipmentPromise = fetch('/api/equipment/random').then(r => r.json())
</script>
{#await equipmentPromise then equipment}
    <DetailCard details={{type:"equipment",equipment}}/>
{/await}