<script lang="ts">
    import UserMessage from "$lib/components/UserMessage.svelte";
    import type {Message} from "$lib/types";

    const message:Message = {
        role: "user",
        content: "Hi. Can you help me find SLEK 198372",
    }

</script>
<div class="w-80 border rounded border-surface-900">
    <UserMessage {message}/>
</div>
