
:root {
	/* =~= Theme Properties =~= */
	--theme-font-family-base: system-ui;
	--theme-font-family-heading: system-ui;
	--theme-font-color-base: 0 0 0;
	--theme-font-color-dark: 255 255 255;
	--theme-rounded-base: 12px;
	--theme-rounded-container: 8px;
	--theme-border-base: 1px;
	/* =~= Theme On-X Colors =~= */
	--on-primary: 0 0 0;
	--on-secondary: 255 255 255;
	--on-tertiary: 0 0 0;
	--on-success: 0 0 0;
	--on-warning: 0 0 0;
	--on-error: 255 255 255;
	--on-surface: 255 255 255;
	/* =~= Theme Colors  =~= */
	/* primary | #20df73 */
	--color-primary-50: 222 250 234; /* ⬅ #defaea */
	--color-primary-100: 210 249 227; /* ⬅ #d2f9e3 */
	--color-primary-200: 199 247 220; /* ⬅ #c7f7dc */
	--color-primary-300: 166 242 199; /* ⬅ #a6f2c7 */
	--color-primary-400: 99 233 157; /* ⬅ #63e99d */
	--color-primary-500: 32 223 115; /* ⬅ #20df73 */
	--color-primary-600: 29 201 104; /* ⬅ #1dc968 */
	--color-primary-700: 24 167 86; /* ⬅ #18a756 */
	--color-primary-800: 19 134 69; /* ⬅ #138645 */
	--color-primary-900: 16 109 56; /* ⬅ #106d38 */
	/* secondary | #4046e7 */
	--color-secondary-50: 226 227 251; /* ⬅ #e2e3fb */
	--color-secondary-100: 217 218 250; /* ⬅ #d9dafa */
	--color-secondary-200: 207 209 249; /* ⬅ #cfd1f9 */
	--color-secondary-300: 179 181 245; /* ⬅ #b3b5f5 */
	--color-secondary-400: 121 126 238; /* ⬅ #797eee */
	--color-secondary-500: 64 70 231; /* ⬅ #4046e7 */
	--color-secondary-600: 58 63 208; /* ⬅ #3a3fd0 */
	--color-secondary-700: 48 53 173; /* ⬅ #3035ad */
	--color-secondary-800: 38 42 139; /* ⬅ #262a8b */
	--color-secondary-900: 31 34 113; /* ⬅ #1f2271 */
	/* tertiary | #0EA5E9 */
	--color-tertiary-50: 219 242 252; /* ⬅ #dbf2fc */
	--color-tertiary-100: 207 237 251; /* ⬅ #cfedfb */
	--color-tertiary-200: 195 233 250; /* ⬅ #c3e9fa */
	--color-tertiary-300: 159 219 246; /* ⬅ #9fdbf6 */
	--color-tertiary-400: 86 192 240; /* ⬅ #56c0f0 */
	--color-tertiary-500: 14 165 233; /* ⬅ #0EA5E9 */
	--color-tertiary-600: 13 149 210; /* ⬅ #0d95d2 */
	--color-tertiary-700: 11 124 175; /* ⬅ #0b7caf */
	--color-tertiary-800: 8 99 140; /* ⬅ #08638c */
	--color-tertiary-900: 7 81 114; /* ⬅ #075172 */
	/* success | #84cc16 */
	--color-success-50: 237 247 220; /* ⬅ #edf7dc */
	--color-success-100: 230 245 208; /* ⬅ #e6f5d0 */
	--color-success-200: 224 242 197; /* ⬅ #e0f2c5 */
	--color-success-300: 206 235 162; /* ⬅ #ceeba2 */
	--color-success-400: 169 219 92; /* ⬅ #a9db5c */
	--color-success-500: 132 204 22; /* ⬅ #84cc16 */
	--color-success-600: 119 184 20; /* ⬅ #77b814 */
	--color-success-700: 99 153 17; /* ⬅ #639911 */
	--color-success-800: 79 122 13; /* ⬅ #4f7a0d */
	--color-success-900: 65 100 11; /* ⬅ #41640b */
	/* warning | #EAB308 */
	--color-warning-50: 252 244 218; /* ⬅ #fcf4da */
	--color-warning-100: 251 240 206; /* ⬅ #fbf0ce */
	--color-warning-200: 250 236 193; /* ⬅ #faecc1 */
	--color-warning-300: 247 225 156; /* ⬅ #f7e19c */
	--color-warning-400: 240 202 82; /* ⬅ #f0ca52 */
	--color-warning-500: 234 179 8; /* ⬅ #EAB308 */
	--color-warning-600: 211 161 7; /* ⬅ #d3a107 */
	--color-warning-700: 176 134 6; /* ⬅ #b08606 */
	--color-warning-800: 140 107 5; /* ⬅ #8c6b05 */
	--color-warning-900: 115 88 4; /* ⬅ #735804 */
	/* error | #d21919 */
	--color-error-50: 248 221 221; /* ⬅ #f8dddd */
	--color-error-100: 246 209 209; /* ⬅ #f6d1d1 */
	--color-error-200: 244 198 198; /* ⬅ #f4c6c6 */
	--color-error-300: 237 163 163; /* ⬅ #eda3a3 */
	--color-error-400: 224 94 94; /* ⬅ #e05e5e */
	--color-error-500: 210 25 25; /* ⬅ #d21919 */
	--color-error-600: 189 23 23; /* ⬅ #bd1717 */
	--color-error-700: 158 19 19; /* ⬅ #9e1313 */
	--color-error-800: 126 15 15; /* ⬅ #7e0f0f */
	--color-error-900: 103 12 12; /* ⬅ #670c0c */
	/* surface | #495a8f */
	--color-surface-50: 228 230 238; /* ⬅ #e4e6ee */
	--color-surface-100: 219 222 233; /* ⬅ #dbdee9 */
	--color-surface-200: 210 214 227; /* ⬅ #d2d6e3 */
	--color-surface-300: 182 189 210; /* ⬅ #b6bdd2 */
	--color-surface-400: 128 140 177; /* ⬅ #808cb1 */
	--color-surface-500: 73 90 143; /* ⬅ #495a8f */
	--color-surface-600: 66 81 129; /* ⬅ #425181 */
	--color-surface-700: 55 68 107; /* ⬅ #37446b */
	--color-surface-800: 44 54 86; /* ⬅ #2c3656 */
	--color-surface-900: 36 44 70; /* ⬅ #242c46 */

}