<script lang="ts">

    import type {Message} from "$lib/types";
    import {Avatar} from "@skeletonlabs/skeleton";
    export let message: Message;
</script>
<div class="grid grid-cols-[auto_1fr] gap-2">
    <Avatar src="/wilbur.jpeg" width="w-12" />
    <div class="card p-4 variant-soft rounded-tl-none space-y-2">
        <header class="flex justify-between items-center">
            <p class="font-bold">Mr. Ed</p>
        </header>
        <p class="whitespace-pre-wrap">{message.content}</p>
    </div>
</div>

