<script lang="ts">

    import type {Conversation} from "$lib/types";
    import UserMessage from "$lib/components/UserMessage.svelte";
    import AssistantMessage from "$lib/components/AssistantMessage.svelte";
    import FunctionCall from "$lib/components/FunctionCall.svelte";
    import DetailCard from "$lib/components/DetailCard.svelte";

    export let conversation: Conversation
</script>
<div class="space-y-2 p-2 w-[800px]">
    {#each conversation.messages as message,i}
        {#if message.role === 'user'}
            <div class="w-[95%] sm:w-[80%] ml-auto">
                <UserMessage {message}/>
            </div>
        {:else if message.role === 'function'}
            <DetailCard details={JSON.parse(message.content)}/>
        {:else if message.role === 'assistant' && !message.function_call}
            <div class="w-[95%] sm:w-[80%] mr-auto">
                <AssistantMessage {message}/>
            </div>
        {:else if message.function_call}
            <FunctionCall isCurrentMessage={conversation.messages.length-1===i}/>
        {/if}
    {/each}
</div>