<script lang="ts">
    import type {Equipment} from "$lib/types";

    export let details: { type: "equipment", equipment: Equipment } | { type: "error", error: string };
</script>
<style lang="postcss">
    .detail {
        @apply flex flex-col px-2 py-1 border-primary-700 border-l-2 rounded-sm;
    }

    .detail-title {
        @apply text-sm text-surface-600;
    }
</style>
{#if details.type === "equipment" }
    <div class="grid grid-cols-3 sm:grid-cols-4 bg-surface-200 p-3 gap-y-3 gap-x-2">
        <div class="detail">
            <span class="detail-title">Equipment Id</span>
            <span>{details.equipment.initial} - {details.equipment.number}</span>
            <span class="text-surface-600 text-xs">WBSN: {details.equipment.waybillSerialNumber}</span>
        </div>
        <div class="detail">
            <span class="detail-title">Last Event</span>
            <span>{details.equipment.lastEvent}</span>
            <span class="text-surface-600 text-xs">{details.equipment.lastEventDescription}</span>
        </div>
        <div class="detail">
            <span class="detail-title">Last Event Time</span>
            <span>{new Date(details.equipment.lastEventTime).toLocaleString()}</span>
        </div>
        <div class="detail">
            <span class="detail-title">Last Event Location</span>
            <span>{details.equipment.lastEventCity}, {details.equipment.lastEventState}</span>
        </div>
        <div class="detail">
            <span class="detail-title">Origin</span>
            <span>{details.equipment.originCity}, {details.equipment.originState}</span>
        </div>
        <div class="detail">
            <span class="detail-title">Destination</span>
            <span>{details.equipment.destinationCity}, {details.equipment.destinationState}</span>
        </div>
        <div class="detail">
            <span class="detail-title">Status</span>
            <span>{details.equipment.shipmentStatus}</span>
        </div>
        <div class="detail">
            <span class="detail-title">ETA</span>
            <span>{new Date(details.equipment.eta).toLocaleString()}</span>
        </div>
    </div>
{:else if details.type === "error"}
    <div class="bg-surface-200 p-3 rounded-sm">
        <div class="bg-error-300 p-2 border-error-500 border-l-2">
            <span class="text-error-600">{details.error}</span>
        </div>
    </div>
{/if}

