<script lang="ts">
    export let isCurrentMessage = false;
</script>

<div class="p-3 rounded mx-3 border-surface-400 border bg-surface-200">
   <p>Fetching details {#if isCurrentMessage}(spinner){/if}</p>
</div>