<script lang="ts">

    import type {Message} from "$lib/types";
    import {Avatar} from "@skeletonlabs/skeleton";

    export let message: Message;
</script>

<div class="grid grid-cols-[1fr_auto] gap-2">
    <div class="card p-4 rounded-tr-none space-y-2 bg-primary-600 text-white">
        <header class="flex justify-between items-center">
            <p class="font-bold">You</p>
        </header>
        <p>{message.content}</p>
    </div>
    <Avatar src="https://i.pravatar.cc/?img=pa" width="w-12" />
</div>

